/* This sets the color for "TK" nodes to a light blue green. */
g.type-TK > rect {
  fill: #00ffd0;
}

text {
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
  font-size: 14px;
}

.node rect {
  stroke: #999;
  fill: #fff;
  stroke-width: 1.5px;
}

.edgePath path {
  stroke: #333;
  stroke-width: 1.5px;
}

.phase-1 rect {
  stroke-width: 1.5px;
  stroke: #bbb;
  fill: #666;
}
.phase-2 rect {
  stroke-width: 1.5px;
  stroke: #bbb;
  fill: #fff;
}

span.node-name, span.message-count, span.message-rate {
  display: block;
}